*.class
.classpath
.project
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.project
.classpath.
.sts4-cache

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
